.group {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.group .div {
  background-color: var(--main-white);
  overflow: hidden;
  width: 1728px;
  height: 8804px;
  position: relative;
}

.group .element {
  position: absolute;
  width: 1817px;
  height: 1041px;
  top: 7297px;
  left: -83px;
}

.group .overlap-group {
  position: relative;
  width: 1700px;
  height: 700px;
  top: 34px;
  left: 120px;
  border-radius: 70px;
  background: linear-gradient(180deg, rgb(46, 43, 208) 0%, rgb(120.35, 118.1, 242.25) 100%);
}

.group .text-wrapper {
  position: absolute;
  width: 700px;
  top: 98px;
  left: 920px;
  font-family: "Acme-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffb2;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.group .text-wrapper-2 {
  width: 645px;
  top: 58px;
  left: 29px;
  color: var(--main-white);
  font-size: 100px;
  line-height: 130px;
  position: absolute;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
}

.group .field-inactive {
  position: absolute;
  width: 700px;
  height: 62px;
  top: 476px;
  left: 29px;
}

.group .line {
  position: absolute;
  width: 701px;
  height: 1px;
  top: 61px;
  left: 0;
  object-fit: cover;
}

.group .text-wrapper-3 {
  top: -1px;
  left: 0;
  font-family: "Actor-Regular", Helvetica;
  color: #ffffff66;
  font-size: 32px;
  line-height: 48px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .field-inactive-2 {
  top: 574px;
  position: absolute;
  width: 700px;
  height: 62px;
  left: 29px;
}

.group .field-inactive-3 {
  top: 700px;
  position: absolute;
  width: 700px;
  height: 62px;
  left: 29px;
}

.group .overlap {
  position: absolute;
  width: 250px;
  height: 155px;
  top: 726px;
  left: 1370px;
}

.group .text-wrapper-4 {
  top: 120px;
  left: 96px;
  position: absolute;
  font-family: "Imbue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.group .image {
  height: 155px;
  position: absolute;
  width: 132px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.group .overlap-2 {
  position: absolute;
  width: 1768px;
  height: 4140px;
  top: 3089px;
  left: 0;
}

.group .element-2 {
  position: absolute;
  width: 1728px;
  height: 1117px;
  top: 3023px;
  left: 40px;
}

.group .element-3 {
  width: 506px;
  height: 460px;
  top: 158px;
  position: absolute;
  left: 0;
}

.group .p {
  width: 506px;
  top: 279px;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  color: #2f343fb2;
  font-size: 24px;
  line-height: 36px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .img {
  position: absolute;
  width: 506px;
  height: 1px;
  top: 239px;
  left: 0;
  object-fit: cover;
}

.group .text-wrapper-5 {
  top: 139px;
  left: 0;
  font-family: "Actor-Regular", Helvetica;
  color: var(--main-light);
  font-size: 40px;
  line-height: 60px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .element-4 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.group .element-5 {
  position: absolute;
  width: 506px;
  height: 460px;
  top: 158px;
  left: 557px;
}

.group .element-6 {
  position: absolute;
  width: 506px;
  height: 460px;
  top: 158px;
  left: 1114px;
}

.group .text-wrapper-6 {
  width: 1217px;
  top: -1px;
  left: 0;
  font-family: "Actor-Regular", Helvetica;
  color: var(--main-light);
  font-size: 60px;
  line-height: normal;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .element-7 {
  position: absolute;
  width: 1728px;
  height: 1117px;
  top: 2165px;
  left: 0;
}

.group .text-wrapper-7 {
  width: 1104px;
  top: 95px;
  left: 94px;
  font-family: "Acme-Regular", Helvetica;
  color: #2f343fb2;
  font-size: 36px;
  line-height: 54px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .text-wrapper-8 {
  top: -1px;
  left: 94px;
  font-family: "Actor-Regular", Helvetica;
  color: var(--main-light);
  font-size: 60px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .element-8 {
  position: absolute;
  width: 1728px;
  height: 250px;
  top: 390px;
  left: 0;
  object-fit: cover;
}

.group .element-9 {
  position: absolute;
  width: 1728px;
  height: 1117px;
  top: 1108px;
  left: 39px;
}

.group .overlap-group-wrapper {
  position: absolute;
  width: 524px;
  height: 300px;
  top: 391px;
  left: 1097px;
}

.group .div-wrapper {
  position: relative;
  width: 522px;
  height: 300px;
  border-radius: 40px;
  background: linear-gradient(180deg, rgb(46, 43, 208) 0%, rgb(120.35, 118.1, 242.25) 100%);
}

.group .text-wrapper-9 {
  width: 447px;
  top: 50px;
  left: 38px;
  font-family: "Acme-Regular", Helvetica;
  color: #ffffffb2;
  font-size: 24px;
  line-height: 36px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .overlap-3 {
  position: absolute;
  width: 1080px;
  height: 220px;
  top: 371px;
  left: 0;
}

.group .all-text-wrapper {
  position: absolute;
  width: 541px;
  height: 220px;
  top: 0;
  left: 539px;
  border-radius: 40px;
  border: 1px solid;
  border-color: #909398;
}

.group .all-text {
  position: relative;
  width: 446px;
  height: 136px;
  top: 44px;
  left: 55px;
}

.group .text-wrapper-10 {
  top: 0;
  left: 0;
  color: var(--main-light);
  font-size: 26px;
  line-height: 39px;
  white-space: nowrap;
  position: absolute;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
}

.group .text-wrapper-11 {
  width: 442px;
  top: 64px;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  color: #2f343fb2;
  font-size: 24px;
  line-height: 36px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .element-10 {
  position: absolute;
  width: 540px;
  height: 220px;
  top: 0;
  left: 0;
  border-radius: 40px;
  border: 1px solid;
  border-color: #909398;
}

.group .all-text-2 {
  width: 465px;
  height: 121px;
  left: 49px;
  position: relative;
  top: 49px;
}

.group .text-wrapper-12 {
  width: 461px;
  top: 48px;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  color: #2f343fb2;
  font-size: 24px;
  line-height: 36px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .element-11 {
  position: absolute;
  width: 540px;
  height: 220px;
  top: 151px;
  left: 1080px;
  border-radius: 40px;
  border: 1px solid;
  border-color: #2f353f80;
}

.group .all-text-3 {
  width: 451px;
  height: 100px;
  left: 49px;
  position: relative;
  top: 49px;
}

.group .text-wrapper-13 {
  width: 447px;
  top: 64px;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  color: #2f343fb2;
  font-size: 24px;
  line-height: 36px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .element-12 {
  position: absolute;
  width: 540px;
  height: 220px;
  top: 151px;
  left: 540px;
  border-radius: 40px;
  border: 1px solid;
  border-color: #2f353f80;
}

.group .all-text-4 {
  width: 448px;
  height: 136px;
  left: 46px;
  position: relative;
  top: 49px;
}

.group .text-wrapper-14 {
  top: 0;
  left: 3px;
  font-family: "Acme-Regular", Helvetica;
  color: var(--main-light);
  font-size: 24px;
  line-height: 36px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .text-wrapper-15 {
  width: 444px;
  top: 64px;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  color: #2f343fb2;
  font-size: 24px;
  line-height: 36px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .element-13 {
  width: 529px;
  height: 240px;
  top: 120px;
  background-image: url(./img/5.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  left: 0;
}

.group .text-wrapper-16 {
  top: -1px;
  left: 0;
  font-family: "Actor-Regular", Helvetica;
  color: var(--main-light);
  font-size: 60px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .element-14 {
  position: absolute;
  width: 1728px;
  height: 1117px;
  top: 0;
  left: 39px;
}

.group .text-block {
  position: absolute;
  width: 1116px;
  height: 459px;
  top: 188px;
  left: 510px;
  border-radius: 70px;
  border: 1px solid;
  border-color: #2f353f80;
}

.group .all {
  width: 1020px;
  height: 358px;
  left: 49px;
  position: relative;
  top: 49px;
}

.group .text-wrapper-17 {
  width: 1016px;
  top: 70px;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  color: #2f343fb2;
  font-size: 32px;
  line-height: 48px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .text-wrapper-18 {
  top: 0;
  left: 0;
  font-family: "Actor-Regular", Helvetica;
  color: var(--main-blue);
  font-size: 40px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .side-bar {
  position: absolute;
  width: 305px;
  height: 502px;
  top: 188px;
  left: 0;
}

.group .text-wrapper-19 {
  position: absolute;
  top: 449px;
  left: 50px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #2f353f4c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 48px;
  white-space: nowrap;
}

.group .text-wrapper-20 {
  position: absolute;
  top: 301px;
  left: 50px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #2f353f4c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 48px;
  white-space: nowrap;
}

.group .text-wrapper-21 {
  position: absolute;
  top: 153px;
  left: 50px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: #2f353f4c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 48px;
  white-space: nowrap;
}

.group .text-wrapper-22 {
  position: absolute;
  top: 5px;
  left: 50px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: var(--main-blue);
  font-size: 32px;
  letter-spacing: 0;
  line-height: 48px;
  white-space: nowrap;
}

.group .slider {
  position: absolute;
  width: 5px;
  height: 504px;
  top: 0;
  left: 0;
}

.group .element-15 {
  position: absolute;
  width: 1728px;
  height: 1117px;
  top: 1171px;
  left: 39px;
}

.group .all-blocks {
  position: absolute;
  width: 1620px;
  height: 1498px;
  top: 158px;
  left: 0;
}

.group .overlap-group-2 {
  position: relative;
  height: 1498px;
}

.group .all-wrapper {
  position: absolute;
  width: 1020px;
  height: 500px;
  top: 998px;
  left: 0;
  border-radius: 70px;
  border: 1px solid;
  border-color: #95989d;
}

.group .all-2 {
  width: 926px;
  height: 272px;
  left: 49px;
  position: relative;
  top: 49px;
}

.group .text-wrapper-23 {
  width: 920px;
  height: 90px;
  top: 182px;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  color: #2f343fb2;
  font-size: 30px;
  line-height: 45px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .text-wrapper-24 {
  top: 71px;
  left: 0;
  font-family: "Actor-Regular", Helvetica;
  color: var(--main-light);
  font-size: 32px;
  line-height: 48px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .element-16 {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 998px;
  left: 1020px;
  object-fit: cover;
}

.group .element-17 {
  position: absolute;
  width: 811px;
  height: 500px;
  top: 499px;
  left: 0;
  object-fit: cover;
}

.group .element-18 {
  position: absolute;
  width: 810px;
  height: 500px;
  top: 499px;
  left: 810px;
  border-radius: 70px;
  border: 1px solid;
  border-color: #95989d;
}

.group .all-3 {
  width: 716px;
  height: 380px;
  left: 49px;
  position: relative;
  top: 49px;
}

.group .text-wrapper-25 {
  width: 710px;
  height: 180px;
  top: 200px;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  color: #2f343fb2;
  font-size: 30px;
  line-height: 45px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .text-wrapper-26 {
  top: 67px;
  left: 0;
  font-family: "Actor-Regular", Helvetica;
  color: var(--main-light);
  font-size: 32px;
  line-height: 48px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .element-19 {
  position: absolute;
  width: 540px;
  height: 500px;
  top: 0;
  left: 539px;
  border-radius: 70px;
  border: 1px solid;
  border-color: #95989d;
}

.group .all-4 {
  width: 446px;
  height: 360px;
  left: 48px;
  position: relative;
  top: 49px;
}

.group .text-wrapper-27 {
  width: 440px;
  height: 180px;
  top: 180px;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  color: #2f343fb2;
  font-size: 30px;
  line-height: 45px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .text-wrapper-28 {
  top: 63px;
  left: 1px;
  font-family: "Actor-Regular", Helvetica;
  color: var(--main-light);
  font-size: 32px;
  line-height: 48px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .text-wrapper-29 {
  left: 1px;
  position: absolute;
  top: 0;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: var(--main-blue);
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.group .element-20 {
  position: absolute;
  width: 540px;
  height: 500px;
  top: 0;
  left: 0;
  border-radius: 70px;
  border: 1px solid;
  border-color: #95989d;
}

.group .all-5 {
  width: 446px;
  height: 324px;
  left: 49px;
  position: relative;
  top: 49px;
}

.group .text-wrapper-30 {
  width: 440px;
  height: 135px;
  top: 189px;
  left: 0;
  font-family: "Acme-Regular", Helvetica;
  color: #2f343fb2;
  font-size: 30px;
  line-height: 45px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.group .element-21 {
  position: absolute;
  width: 540px;
  height: 500px;
  top: 0;
  left: 1080px;
  object-fit: cover;
}

.group .overlap-wrapper {
  width: 1728px;
  height: 1117px;
  top: 0;
  position: absolute;
  left: 0;
}

.group .overlap-4 {
  position: relative;
  width: 1920px;
  height: 975px;
}

.group .element-22 {
  width: 1728px;
  height: 975px;
  top: 0;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.group .title {
  position: absolute;
  width: 894px;
  height: 130px;
  top: 415px;
  left: 150px;
}

.group .overlap-group-3 {
  position: relative;
  width: 892px;
  height: 130px;
}

.group .line-2 {
  position: absolute;
  width: 876px;
  height: 65px;
  top: 32px;
  left: 0;
  background-color: var(--main-blue);
}

.group .text-wrapper-31 {
  position: absolute;
  width: 892px;
  top: 0;
  left: 0;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: var(--main-white);
  font-size: 50px;
  letter-spacing: 0;
  line-height: 65px;
}

.group .main-menu {
  position: absolute;
  width: 1920px;
  height: 119px;
  top: 0;
  left: 0;
}

.group .overlap-5 {
  position: relative;
  width: 1796px;
  height: 124px;
}

.group .overlap-6 {
  position: absolute;
  width: 223px;
  height: 76px;
  top: 20px;
  left: 1573px;
}

.group .block {
  position: absolute;
  width: 203px;
  height: 59px;
  top: 17px;
  left: 0;
  background-color: var(--main-blue);
  border-radius: 10px;
}

.group .button {
  position: absolute;
  width: 203px;
  height: 59px;
  top: 0;
  left: 20px;
  all: unset;
  box-sizing: border-box;
}

.group .contact-us {
  position: absolute;
  top: 34px;
  left: 11px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: var(--main-white);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.group .overlap-7 {
  position: absolute;
  width: 1728px;
  height: 124px;
  top: 0;
  left: 0;
}

.group .line-3 {
  position: absolute;
  width: 1698px;
  height: 1px;
  top: 118px;
  left: 30px;
  object-fit: cover;
}

.group .line-4 {
  position: absolute;
  width: 1px;
  height: 120px;
  top: 0;
  left: 1398px;
}

.group .image-2 {
  height: 124px;
  position: absolute;
  width: 132px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.group .logo {
  position: absolute;
  width: 204px;
  height: 63px;
  top: 47px;
  left: 66px;
}

.group .text-wrapper-32 {
  top: 31px;
  left: 33px;
  position: absolute;
  font-family: "Imbue-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.group .text-wrapper-33 {
  position: absolute;
  top: 47px;
  left: 1526px;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: var(--main-white);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.group .language-selection {
  position: absolute;
  width: 31px;
  height: 23px;
  top: 48px;
  left: 1479px;
}

.group .en {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Actor-Regular", Helvetica;
  font-weight: 400;
  color: var(--main-white);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.group .MENU {
  display: inline-flex;
  align-items: flex-start;
  gap: 120px;
  position: absolute;
  top: 50px;
  left: 705px;
}

.group .element-23 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.group .text-wrapper-34 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Aclonica-Regular", Helvetica;
  font-weight: 400;
  color: var(--main-white);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
